.dep1 strong.xans-layout-footer {
	text-align: right;
}

.xans-layout-footer {
	position: relative;
	width: 100%;
	margin: 0px auto 25px;
	padding-top: 0px;
	text-align: center;
	clear: both;
	overflow: hidden;
	*zoom: 1;
	bottom: 0;
}

.xans-layout-footer .utilMenu {
	margin-top: 100px;
	verflow: hidden;
	*zoom: 1;
	text-transform: uppercase;
}

.xans-layout-footer .utilMenu a {
	display: inline-block;
	margin: 0 7px 0 0;
	padding: 0 0 0 10px;
	height: 25px;
	line-height: 25px;
	font-size: 10px;
	color: #333;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_util1.gif")
		no-repeat left 7px;
}

.xans-layout-footer .utilMenu a.home {
	background: none;
}

.xans-layout-footer .utilMenu a:hover {
	color: #666;
}

.xans-layout-footer .address {
	padding: 30px 0 20px;
	color: #666;
	line-height: 21px;
	text-transform: uppercase;
	font-size: 11px;
}

.xans-layout-footer .address span {
	padding: 0 15px 0 0;
}

.xans-layout-footer .address span a {
	color: #666;
}

.xans-layout-footer .copy {
	color: #aaa;
	letter-spacing: 1px;
	font-size: 10px;
	margin: 20px 0 0;
	text-transform: uppercase;
}

.xans-layout-conversionpc a {
	display: block;
	padding: 21px 0 22px;
	border: 2px solid #9d9db0;
	border-radius: 4px;
	font-weight: bold;
	font-size: 38px;
	color: #63666e;
	text-align: center;
}

.xans-layout-conversionpc a {
	background: #fff
		-webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#f2f2f2));
	background: #fff -moz-linear-gradient(top, #fff, #f2f2f2);
}

.xans-layout-conversionpc a:hover {
	text-decoration: none;
}

.xans-layout-conversionpc a span {
	padding: 0 0 0 42px;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_mobile.png")
		no-repeat 0 50%;
	background-size: 27px 35px;
}