.xans-layout-logotop {
	width: 100%;
	height: 55px;
	margin: 70px auto 20px;
	border-bottom: 0px #ddd solid;
}

.xans-layout-logotop img {
	max-width: 167px;
	width: auto;
	height: auto;
	text-align: left;
	margin: 0 0 0 50px;
}

@media all and (max-width:1500px) {
	.xans-layout-logotop {
		width: 100%;
		height: 40px;
		margin: 60px auto 20px;
		border-bottom: 0px #ddd solid;
		overflow: hidden;
	}
	.xans-layout-logotop img {
		max-width: 115px;
		width: auto;
		text-align: left;
		margin: 0 0 0 50px;
	}
}

.fixmenu {
	z-index: 99;
	position: fixed;
	top: 0px;
	margin: 0;
	background: #fff;
}

.xans-layout-category {
	margin: 0 0 30px;
	padding: 30px 0 0 50px;
	width: 120px;
}

.xans-layout-category .position {
	
}

.xans-layout-category .position>ul {
	
}

.xans-layout-category .position>ul>li {
	position: relative;
	line-height: 19px;
}

.xans-layout-category .position>ul>li>a {
	display: block;
	padding: 1px 0;
	color: #000;
	font-family: 'Lato', 'Nanum Gothic';
	font-size: 11px;
	word-spacing: -1px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.xans-layout-category .position>ul>li>a:hover, .xans-layout-category .position>ul>li.on>a
	{
	color: #666;
}

.xans-layout-category .sub-category {
	display: none;
	position: absolute;
	padding: 5px 0 5px 0;
	top: -12px;
	left: 60px;
	width: 100px;
	z-index: 9999;
}

.xans-layout-category .sub-category ul {
	position: relative;
	float: right;
	width: 80px;
	padding: 10px 0;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	background: #none;
}

.xans-layout-category .sub-category li {
	text-align: left;
	margin-left: -1px;
	border-bottom: 0px solid #e5e5e5;
	line-height: 14px;
}

.xans-layout-category .sub-category li:first-child {
	
}

.xans-layout-category .sub-category li:last-child {
	border-bottom: none;
}

.xans-layout-category .sub-category a {
	display: block;
	font-size: 9px;
	padding: 2px 10px;
	font-family: 'Lato', 'Nanum Gothic';;
	color: #222;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.xans-layout-category .sub-category a:hover {
	color: #666;
}

.xans-layout-boardinfo {
	margin: 0 0 30px 50px;
	padding: 0;
	border-top: 0px #ddd solid;
	overflow: hidden;
}

.xans-layout-boardinfo ul {
	text-align: left;
}

.xans-layout-boardinfo ul>li {
	line-height: 19px;
}

.xans-layout-boardinfo ul>li img {
	vertical-align: middle;
}

.xans-layout-boardinfo ul>li a {
	display: block;
	font-weight: 400;
	padding: 1px 0;
	word-spacing: -1px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #000;
	font-size: 11px;
	word-spacing: -1px;
}

.xans-layout-boardinfo ul>li a:hover {
	color: #999;
}

.xans-layout-boardinfo ul>li a span.hover {
	display: none;
}

.xans-layout-boardinfo ul>li a:hover span {
	display: none;
}

.xans-layout-boardinfo ul>li a:hover span.hover {
	display: block;
	color: #000;
}

.xans-layout-boardinfo ul>li a:hover {
	color: #666;
	display: block;
}

.left_menu ul {
	margin: 0 0 30px 50px;
	padding: 0;
	border-top: 0px #ddd solid;
	overflow: hidden;
	text-align: left;
}

.left_menu ul>li {
	line-height: 19px;
}

.left_menu ul>li img {
	vertical-align: middle;
}

.left_menu ul>li a {
	display: block;
	font-weight: 400;
	word-spacing: -1px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #000;
	font-size: 11px;
	word-spacing: -1px;
}

.left_menu ul>li a:hover {
	color: #666;
}

#header .topArea {
	float: left;
	padding: 12px 0 0 18px;
}

#header .topArea a {
	padding: 0 11px 0 17px;
	font-size: 11px;
	text-transform: uppercase;
	color: #333;
}

#header .inner {
	float: right;
	padding: 12px 20px 0 0;
}

.xans-layout-statelogoff {
	width: 100px;
	margin: 20px 18px 0 48px;
	color: #666;
}

.xans-layout-statelogoff a {
	display: inline-block;
	padding: 3px 2px;
	color: #000;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: .5px;
}

.xans-layout-statelogoff a:hover {
	color: #666;
}

.xans-layout-statelogoff .log {
	background: none;
}

.xans-layout-statelogon {
	width: 100px;
	margin: 20px 18px 0 48px;
	color: #666;
}

.xans-layout-statelogon a {
	display: inline-block;
	padding: 3px 2px;
	color: #000;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: .5px;
}

.xans-layout-statelogon a:hover {
	color: #666;
}

.xans-layout-statelogon .log {
	background: none;
}

.right_menu {
	margin: 140px 30px 0 0;
}

.right_menu ul {
	margin: 15px 0;
	text-align: right;
}

.right_menu>ul>li {
	color: #000;
	font-size: 10px;
	line-height: 16px;
	word-spacing: -1px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.right_menu>ul>li>a {
	color: #000;
	font-size: 10px;
	line-height: 16px;
	word-spacing: -1px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.right_menu>ul>li.cart_menu a {
	font-size: 11px;
}

.right_menu li a:hover {
	color: #666;
}

.right_menu .bookmark a {
	cursor: pointer;
}

.right_menu .right_sns {
	float: right;
	text-align: right;
	margin-right: 5px;
}

.right_menu .right_sns li {
	display: inline-block;
	float: left;
	margin: 0 0 0 10px;
}

.right_menu .right_sns img {
	
}

.downmenu {
	margin: 0 0 0 30px;
	float: right;
	width: 140px;
}

.dep1 {
	border-top: 0px #ddd solid;
	border-bottom: 0px #ddd solid;
	line-height: 30px;
	margin: -1px 0 0;
	padding: 0 2px;
}

.dep1>a {
	position: relative;
	display: block;
	cursor: pointer;
	text-transform: uppercase;
	padding-right: 13px;
	font-size: 11px;
	letter-spacing: 0.5px;
	text-align: right;
	font-weight: normal;
	color: #000;
}

.dep1 a .fa {
	position: absolute;
	right: -1px;
	top: 10px;
	font-size: 12px;
	color: #999;
}

.dep1 strong.xans-layout-footer {
	text-align: right;
}

.dep1 .hide {
	border-top: 0px #ddd solid;
	display: none;
	margin-top: 0px;
	color: #333;
	font-size: 11px;
	line-height: 18px;
}

.dep1 .hide.hideblock {
	display: block;
}

.dep1 .hide li {
	clear: both;
	overflow: hidden;
	padding: 12px 0 0px;
	letter-spacing: 0px;
}

.dep1 .hide strong {
	display: inline-block;
	margin: 0 auto 5px;
	font-size: 12px;
	font-weight: 600;
}

.dep1 .hide p {
	font-size: 12px;
}

.xans-board-listpackage-1 {
	position: relative;
	margin: 0px auto;
	overflow: hidden;
	padding: 0;
}

.xans-board-listpackage-1 .mainborad {
	background: none !important;
}

.xans-board-listpackage-1 .mainborad thead th {
	height: 0;
	font-size: 0;
	line-height: 0;
}

.xans-board-listpackage-1 .mainborad tr {
	
}

.xans-board-listpackage-1 .mainborad tr:last-child {
	border-bottom: 0;
}

.xans-board-listpackage-1 .mainborad td {
	padding: 0;
	border: none;
	height: 21px;
	line-height: 21px;
}

.xans-board-listpackage-1 .mainborad td.title {
	width: auto;
	font-size: 11px;
	text-align: right;
}

.xans-board-listpackage-1 .mainborad td.title a {
	display: block;
	color: #333;
	text-decoration: none;
}

.xans-board-listpackage-1 .mainborad td.title a:hover {
	text-decoration: underline;
	color: #666;
}

.xans-layout-footer {
	position: relative;
	width: 100%;
	margin: 0px auto 25px;
	padding-top: 0px;
	text-align: center;
	clear: both;
	overflow: hidden;
	*zoom: 1;
}

.xans-layout-footer .utilMenu {
	margin-top: 100px;
	verflow: hidden;
	*zoom: 1;
	text-transform: uppercase;
}

.xans-layout-footer .utilMenu a {
	display: inline-block;
	margin: 0 7px 0 0;
	padding: 0 0 0 10px;
	height: 25px;
	line-height: 25px;
	font-size: 10px;
	color: #333;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_util1.gif")
		no-repeat left 7px;
}

.xans-layout-footer .utilMenu a.home {
	background: none;
}

.xans-layout-footer .utilMenu a:hover {
	color: #666;
}

.xans-layout-footer .address {
	padding: 30px 0 20px;
	color: #666;
	line-height: 21px;
	text-transform: uppercase;
}

.xans-layout-footer .address span {
	padding: 0 15px 0 0;
}

.xans-layout-footer .address span a {
	color: #666;
}

.xans-layout-footer .copy {
	color: #aaa;
	letter-spacing: 1px;
	font-size: 10px;
	margin: 20px 0 0;
	text-transform: uppercase;
}

.xans-layout-conversionpc a {
	display: block;
	padding: 21px 0 22px;
	border: 2px solid #9d9db0;
	border-radius: 4px;
	font-weight: bold;
	font-size: 38px;
	color: #63666e;
	text-align: center;
}

.xans-layout-conversionpc a {
	background: #fff
		-webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#f2f2f2));
	background: #fff -moz-linear-gradient(top, #fff, #f2f2f2);
}

.xans-layout-conversionpc a:hover {
	text-decoration: none;
}

.xans-layout-conversionpc a span {
	padding: 0 0 0 42px;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_mobile.png")
		no-repeat 0 50%;
	background-size: 27px 35px;
}
a