.ipInfo {
	text-align: right;
	width: 100%;
}

.xans-member-login {
	position: relative;
}

.xans-member-login h3 {
	margin: 0px 0 10px 525px;
	font-family: 'Lato', 'Nanum Gothic';
	font-size: 10px;
	font-weight: 400;
	color: #2e2e2e;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.xans-member-login .login {
	border: 0px solid #eee;
	margin: 0 0 3px 0;
	padding: 50px 0 20px 0;
	color: #2e2e2e;
}

.xans-member-login .login fieldset {
	position: relative;
	width: 350px;
	margin: 0 auto;
}

.xans-member-login .login fieldset .id, .xans-member-login .login fieldset .password
	{
	overflow: hidden;
	display: block;
	width: 320px;
	margin: 0 0 5px;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	color: #8F8F91;
}

.xans-member-login .login fieldset .id span, .xans-member-login .login fieldset span
	{
	display: block;
	font-size: 9px;
	color: #000;
	margin: 10px 0 2px 0;
	letter-spacing: 1px;
}

.xans-member-login .login fieldset input {
	float: left;
	width: auto;
	height: 20px;
	padding: 2px 2px 2px 3px;
	border: 0 none;
	color: #111;
	margin: -2px 0 0;
}

.xans-member-login .login fieldset .security {
	display: inline-block;
	padding: 2px 0 3px 10px;
	margin: 0px 0;
	width: 140px;
	color: #757575;
	opacity: 1;
}

}
.xans-member-login .login fieldset .security input {
	width: 13px;
	height: 13px;
	margin: 0 0px 0 0;
	vertical-align: -3px;
	*vertical-align: 2px;
}

.xans-member-login .login fieldset .security label {
	margin: 0 10px 0 1px;
}

.xans-member-login .login fieldset .security img {
	margin-left: -5px;
}

.xans-member-login .login fieldset>a {
	position: absolute;
	top: 0;
	right: 7px;
}

.xans-member-login .login fieldset ul {
	overflow: hidden;
	padding: 8px 5px 25px;
	margin: 0 0 20px 0;
	border-bottom: 0px solid #e9e9e9;
}

.xans-member-login .login fieldset li {
	float: left;
	padding: 0 7px 0 4px;
	letter-spacing: 0.2px;
	font-size: 11px;
	color: #aaa;
}

.xans-member-login .login fieldset li a {
	color: #666;
}

.xans-member-login .login fieldset li a:hover {
	color: #888;
	text-decoration: none;
}

.xans-member-login .login fieldset .link {
	position: relative;
	margin: 5px 5px 10px;
	padding: 5px 0 10px 10px;
	color: #757575;
}

.xans-member-login .login fieldset .link input.loginbtn {
	position: absolute;
	top: 7px;
	right: 139px;
	padding: 6px 105px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 9px;
	color: #fff;
	line-height: 12px;
	background: #111;
	border: 0px solid #333;
	text-align-center;
	width: 100px;
    height: auto;
    margin: 0px 0 0;
    
}

.xans-member-login .login fieldset .link span.joinusbtn a {
	position: absolute;
	top: 7px;
	right: 32px;
	padding: 5px 29px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 9px;
	color: #000;
	line-height: 12px;
	border: 1px solid #666;
	text-align-center;
}

.xans-member-login .login fieldset .link span.loginbtn a:hover {
	text-decoration: none;
}

.xans-member-login .login fieldset .link span.joinusbtn a:hover {
	padding: 5px 29px;
	border: 1px solid #000;
	text-decoration: none;
}

#noMemberWrap {
	padding: 30px 0;
}

#noMemberWrap a {
	position: absolute;
	top: 52px;
	right: 190px;
	width: 80px;
	padding: 8px 34px;
	letter-spacing: 0px;
	font-size: 11px;
	color: #000;
	line-height: 12px;
	border: 1px solid #333;
	text-align-center;
}

#noMemberWrap a:hover {
	text-decoration: none;
	padding: 8px 34px;
	border: 1px solid #333;
	text-align-center;
}

#noMemberWrap span {
	display: block;
	position: absolute;
	top: 39px;
	right: 20px;
	font-size: 11px;
	color: #666;
	line-height: 16px;
	letter-spacing: -1px;
}

.xans-member-login .login fieldset {
	position: relative;
	width: 356px;
	margin: 0 auto;
}

.xans-member-login .login fieldset .snsArea {
	padding: 0;
	margin: 0 0 0 -4px;
}

.xans-member-login .login fieldset .snsArea li {
	margin: 7px 0 0 2px;
	padding: 0;
	background: none;
}

.xans-myshop-orderhistorynologin {
	position: relative;
	border-top: 0px solid #eee;
	margin: 20px 0 0;
	padding: 30px 0;
	color: #666;
}

.xans-myshop-orderhistorynologin h3 {
	margin: 0 0 20px 0;
	text-align: center;
}

.xans-myshop-orderhistorynologin p {
	width: 350px;
	margin: 0 auto 15px;
	padding-left: 0px;
	color: #666;
	text-align: left;
}

.xans-myshop-orderhistorynologin ul {
	width: 370px;
	margin: 20px auto 30px;
}

.xans-myshop-orderhistorynologin li {
	padding: 0 0 0 10px;
	line-height: 28px;
}

.xans-myshop-orderhistorynologin li strong {
	display: inline-block;
	width: 130px;
	font-weight: normal;
}

.xans-myshop-orderhistorynologin li input {
	width: 180px;
	height: 18px;
	padding: 2px 2px 2px 3px;
	border: 1px solid #d9d9d9;
	color: #666;
}

.xans-myshop-orderhistorynologin li.number input {
	width: 84px;
}

.xans-myshop-orderhistorynologin .button {
	position: relative;
	bottom: 12px;
	right: 0px;
}