.xans-layout-statelogoff {
	width: 100px;
	margin: 20px 18px 0 48px;
	color: #666;
}

.xans-layout-statelogoff a {
	display: inline-block;
	padding: 3px 2px;
	color: #000;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: .5px;
}

.xans-layout-statelogoff a:hover {
	color: #666;
}

.xans-layout-statelogoff .log {
	background: none;
}

.xans-layout-statelogon {
	width: 100px;
	margin: 20px 18px 0 48px;
	color: #666;
}

.xans-layout-statelogon a {
	display: inline-block;
	padding: 3px 2px;
	color: #000;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: .5px;
}

.xans-layout-statelogon a:hover {
	color: #666;
}

.xans-layout-statelogon .log {
	background: none;
}