.xans-myshop-orderstate .state {
    overflow: hidden;
    padding: 22px 0 18px 2px;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}
body, code {
    font: 11px "Open Sans", "Lato", arial, "留묒� 怨좊뵓", "Malgun Gothic", �굹�닎怨좊뵓, "Nanum Gothic", "�룍��", Dutum, san-serif;
    color: #555;
    background: #fff;
}
.xans-myshop-orderstate .order {
    float: left;
    width: 70%;
}
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.xans-myshop-orderstate .cs {
    float: right;
    width: 27%;
}
.xans-myshop-bankbook {
    position: relative;
    width: 85.8%;
    margin: 20px auto;
    padding: 8px 0 0 0px;
    background: #fff;
    border: 0px solid #eee;
}
.xans-myshop-bankbook li:nth-child(1) {
    display: inline-block;
    position: relative;
    margin: 1px 0px 2px 0;
    padding-bottom: 0px;
    font-size: 11px;
    color: #353535;
    line-height: 25px;
    border-bottom: 0px solid #eee;
    vertical-align: top;
    *display:inline: ;
    *zoom:1: ;
}
.xans-myshop-bankbook li {
    display: inline-block;
    position: relative;
    margin: 1px -20px 2px 0;
    padding-bottom: 0px;
    font-size: 11px;
    color: #353535;
    line-height: 25px;
    border-bottom: 0px solid #eee;
    vertical-align: top;
    *display:inline: ;
    *zoom:1: ;
}
li {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
#myshopMain {
    display: block;
    margin: 50px auto 50px;
    width: 90%;
    clear: both;
}
#myshopMain .shopMain {
    float: left;
    display: inline-block;
    width: 48%;
    margin: 0 10px 10px 0;
    line-height: 18px;
    border: 1px #ddd solid;
    color: #626262;
}
.ipInfo {
	text-align: right;
	width: 100%;
}

.xans-myshop-benefit {
	position: relative;
	left: 0px;
	width: 90%;
	margin: 20px auto 0;
	border-bottom: 1px solid #eee;
}

.xans-myshop-benefit .infoWrap {
	overflow: hidden;
	padding: 10px 10px 10px 10px;
	color: #353535;
}

.xans-myshop-benefit .myThumb {
	float: left;
	margin: 0 20px 0 15px;
}

.xans-myshop-benefit .myThumb img {
	max-width: 50px;
}

.xans-myshop-benefit .myInfo {
	padding: 8px 0 8px 20px;
	border-left: 0px solid #e8e8e8;
}

.xans-myshop-benefit .myInfo p {
	line-height: 18px;
}

.xans-myshop-benefit .myInfo strong {
	color: #333;
}

.xans-myshop-benefit .myInfo .name {
	color: #33;
}

.xans-myshop-benefit .myInfo .group {
	color: #353535;
}

.xans-myshop-benefit .invite {
	margin-top: -1px;
	padding: 20px 10px 20px 110px;
	border: 1px solid #d9d9d9;
	background-color: #f6f6f6;
}

.xans-myshop-benefit .invite>strong {
	display: block;
	color: #333;
}

.xans-myshop-benefit .invite .copy {
	margin: 8px 0 0;
}

.xans-myshop-benefit .invite p img {
	cursor: pointer;
	vertical-align: middle;
}

.xans-myshop-benefit .invite p input {
	padding: 1px 3px;
	width: 439px;
	height: 20px;
	border: 1px solid #d9d9d9;
	color: #353535;
}

.xans-myshop-benefit .invite ul {
	margin: 8px 0 0;
	font-size: 11px;
	line-height: 1.25;
	color: #757575;
}

.xans-myshop-benefit .invite ul li {
	margin: 3px 0 0;
}

.xans-myshop-orderstate {
	width: 90%;
	margin: 5px auto 0;
	border-bottom: 1px solid #ddd;
	border-right: none;
	border-left: none;
}

.xans-myshop-orderstate .title {
	padding: 20px 21px 0;
	margin: 0;
	border-bottom: 1px solid #e9e9e9;
	background: #fff;
}

.xans-myshop-orderstate .title h3 {
	padding: 0;
	font-size: 12px;
	color: #000;
	text-align: left;
}

.xans-myshop-orderstate .desc {
	padding: 0 0 0 4px;
	font-weight: normal;
	font-size: 11px;
	color: #8f8f8f;
}

.xans-myshop-orderstate .desc em {
	color: #999;
	font-style: normal;
}

.xans-myshop-orderstate .state {
	overflow: hidden;
	padding: 22px 0 18px 2px;
}

.xans-myshop-orderstate .order {
	float: left;
	width: 70%;
}

.xans-myshop-orderstate .order li {
	float: left;
	width: 15%;
	padding: 0 0 4px;
	margin: 0 -1px 0 0;
	border-right: 0px dotted #c9c7ca;
	text-align: center;
}

.xans-myshop-orderstate .order li strong {
	display: inline-block;
	font-weight: normal;
	margin: 0px 0 3px;
	font-size: 11px;
	color: #111;
}

.xans-myshop-orderstate .order .count {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	color: #333;
}

.xans-myshop-orderstate .cs {
	float: right;
	width: 27%;
}

.xans-myshop-orderstate .cs li {
	margin: 0 0 5px 10px;
	display: inline-block;
	letter-spacing: 0.04em;
	word-spacing: 4px;
}

.xans-myshop-orderstate .cs strong {
	font-weight: normal;
	font-size: 12px;
	color: #353535;
}

.xans-myshop-orderstate .cs .count {
	display: inline-block;
	padding: 0 0 0 0px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

.xans-myshop-orderstate .cs .icoDot {
	display: inline-block;
	width: 0px;
	height: 0px;
	margin: 6px 0 0 0;
	background: #fff;
	vertical-align: top;
}

#myshopMain {
	display: block;
	margin: 50px auto 50px;
	width: 90%;
	clear: both;
}

#myshopMain .shopMain {
	float: left;
	display: inline-block;
	width: 48%;
	margin: 0 10px 10px 0;
	line-height: 16px;
	border: 1px #ddd solid;
	color: #626262;
}

#myshopMain .shopMain strong {
	display: block;
	font-size: 11px;
	padding: 0 0 7px;
	font-weight: 600;
	text-transform: uppercase;
	color: #333;
}

#myshopMain .shopMain a {
	display: block;
	font-size: 11px;
	padding: 15px 20px;
	height: 80px;
}

#myshopMain .shopMain:hover strong {
	color: #000;
}

.xans-myshop-bankbook {
	position: relative;
	width: 85.8%;
	margin: 20px auto;
	padding: 8px 0 0 0px;
	background: #fff;
	border: 0px solid #eee;
}

.xans-myshop-bankbook ul {
	display: table;
	font-size: 0;
	line-height: 0;
}

.xans-myshop-bankbook li {
	display: inline-block;
	position: relative;
	margin: 1px -20px 2px 0;
	padding-bottom: 0px;
	font-size: 11px;
	color: #353535;
	line-height: 25px;
	border-bottom: 0px solid #eee;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-myshop-bankbook li:nth-child(1) {
	display: inline-block;
	position: relative;
	margin: 1px 0px 2px 0;
	padding-bottom: 0px;
	font-size: 11px;
	color: #353535;
	line-height: 25px;
	border-bottom: 0px solid #eee;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-myshop-bankbook li .title {
	float: left;
	display: inline-block;
	width: auto;
	padding: 0 0 0 10px;
	font-weight: normal;
	text-align: left;
	letter-spacing: -.5px;
}

.xans-myshop-bankbook li .data {
	float: left;
	display: inline-block;
	width: auto;
	font-size: 13px;
	font-weight: bold;
	margin-right: 20px;
	padding: 0 50px 0 10px;
	text-align: left;
	color: #000;
}

.xans-myshop-bankbook li:nth-child(1) .data {
	float: left;
	display: inline-block;
	width: auto;
	font-size: 13px;
	font-weight: bold;
	padding: 0 70px 0 10px;
	text-align: left;
	color: #000;
}

.xans-myshop-bankbook li .use {
	color: #333;
}

.xans-myshop-bankbook li a {
	position: absolute;
	right: 25px;
	top: 0;
}