@CHARSET "UTF-8";

@font-face {
	font-family: 'FontAwesome';
	src: url('fontawesome-webfontba72.html?v=4.0.3');
	src: url('fontawesome-webfontd41d.html?#iefix&v=4.0.3')
		format('embedded-opentype'),
		url('fontawesome-webfontba72-2.html?v=4.0.3') format('woff'),
		url('fontawesome-webfontba72-3.html?v=4.0.3') format('truetype'),
		url('fontawesome-webfontba72-4.html?v=4.0.3#fontawesomeregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

a:link, a:visited {
	text-decoration: none;
	color: #656565;
}

----------------------------------------------------------------
-상품 상세보기-----------------------------------------------------------
.MK_price {
	font-family: 'Lato', 'Nanum Gothic' !important;
	padding: 5px 10px 3px 5;
	vertical-align: top;
	line-height: 1px;
	font-size: 11px;
}

.MK_btn-del img {
	padding-top: 0;
	margin: -5 0 0 0;
}

.MK_qty-ctrl {
	position: relative;
	width: 100px;
	margin: -38 0 0 60;
}

.MK_btn-up img {
	position: absolute;
	margin: 4 0 0 10;
	vertical-align: middle;
	opacity: 0.7;
}

.MK_btn-dw img {
	margin: 10 0 0 10;
	vertical-align: middle;
	opacity: 0.7;
}

.MK_qty-ctrl input {
	width: 22px;
	height: 23px;
	padding: 1px 2px 0 3px;
	line-height: 23px;
	border: 0px solid #eee;
	font-family: 'Nanum Gothic';
	border-radius: 3px 0 0 3px;
}

.MK_p-name {
	font-weight: normal;
	color: #757575;
	line-height: 50px;
	font-size: 11;
	margin: 3;
	font-family: 'Lato', 'Nanum Gothic';
}

.password_t1 {
	width: 200;
}

.totalRight {
	margin: 20 0 0 0;
	font-size: 11px;
}

.good_total {
	/* padding: 8px 9px 10px; */
	border-top: 0px solid #ddd;
	color: #353535;
	vertical-align: middle;
	background: #fff;
	font-weight: bold;
}

.good_total span {
	margin-right: 5px;
}

.goods_font {
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	font-family: 'Lato', 'Nanum Gothic';
	padding: 0 0 13 0;
}

.goods_font2 {
	font-size: 17px;
	color: #000000;
	font-weight: bold;
	font-family: 'Lato', 'Nanum Gothic';
}

}
.board_goods a {
	padding: 5px 5px 5px 0px;
	font-family: 'Lato', 'Nanum Gothic';
	color: #222;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 1px;
}


--------------------------------------------------------------상품 상세보기-----------------------------------------------------------

.btnArea a {
	display: block;
	/* padding: 4px 40px; */
	margin: 0px 0px 10 0;
	vertical-align: top;
	font-family: Arial;
	color: #555;
	/* border: 1px solid #bbb; */
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.margin_main {
	margin-left: -17px;
}
.margin_main2 {
	margin-left: -180px;
}

.order_title {
	font-weight: bold;
	width: auto;
	vertical-align: middle;
	color: #353535;
	font-size: 12px;
	text-align: left !important;
	margin: 0 0 0 10px;
}

.order_title2 {
	padding: 7px !important;
	margin-bottom: 10px;
	background: none !important;
	font-size: 9px;
	text-transform: uppercase;
	color: #aaa !important;
	letter-spacing: 1.5px;
	margin: -15px 0 0;
	color: #353535;
	text-align: right;
}

.coupon_mainlist {
	table-layout: fixed;
	color: #353535;
	line-height: 1.5;
}

.coupon_mainlist th {
	padding: 11px 0 9px;
	border-left: 1px solid #e9e9e9;
	font-weight: normal;
	background: #fbfafa;
	font-size: 12px;
}

.coupon_mainlist th:first-child {
	border-left: 0;
}

.coupon_mainlist td {
	padding: 8px 0 5px;
	border-top: 1px solid #e9e9e9;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #d7d5d5;
}

.coupon_mainlist th.no {
	width: 45px;
	text-align: center;
}

.coupon_mainlist th.coupon {
	width: auto;
	text-align: center;
}
/* .coupon_mainlist th.product {
	width: 85px;
}
.coupon_mainlist th.price {
	width: 75px;
}
.coupon_mainlist th.payment {
	width: 150px;
}
.coupon_mainlist th.benefit {
	width: 100px;
}
.coupon_mainlist th.period {
	width: 150px;
} */
.coupon_mainlist td.empty {
	padding: 50px 0;
	text-align: center;
	color: #757575;
}

.coupon_mainlist button {
	margin: 20px 0 0;
	text-align: right;
}

.coupon_mainlist thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

.coupon_mainlist tbody {
	border: 1px solid #d7d5d5;
}

.coupon_mainlist tr {
	border-top: 1px solid #d7d5d5;
	border-right: 1px solid #d7d5d5;
	border-left: 1px solid #d7d5d5;
}

.board_top {
	margin: 0;
	padding: 0;
	display: inline-block;
	clear: both;
	overflow: hidden;
}

.board_top h6 {
	display: inline-block;
	margin: 0;
	font-size: 12px;
	color: #2b2b2b;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.board_top p {
	display: inline-block;
	margin: 0 0 0 6px;
	padding: 0 0 0 10px;
	color: #bbb;
	letter-spacing: 0.5px;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_title.gif")
		no-repeat 0 2px;
	*display: inline;
	*zoom: 1;
}

.board_top2 {
	margin: 0 0 -50 0;
	padding: 0;
	display: inline-block;
	clear: both;
	overflow: hidden;
	background: none;
}

.board_top2 font {
	color: white;
	margin: 0 0 0 690;
}

.board_top3 {
	margin: 0;
	padding: 0;
	display: inline-block;
	clear: both;
	overflow: hidden;
}

.board_top3 h6 {
	display: inline-block;
	margin: 0;
	font-size: 12px;
	color: #2b2b2b;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.board_top3 p {
	display: inline-block;
	margin: 0 0 0 6px;
	padding: 0 0 0 10px;
	color: #bbb;
	letter-spacing: 0.5px;
	background:
		url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_title.gif")
		no-repeat 0 2px;
	*display: inline;
	*zoom: 1;
}

.board_top_main {
	margin: 0 0 0 615;
	padding: 0;
	display: inline-block;
	clear: both;
	overflow: hidden;
}

.board_list {
	width: 100%;
	font-family: FontAwesome;
	border-top: 2px solid #eeeeee;
	border-bottom: 1px solid #eeeeee
}

.board_list thead th:first-child {
	font-family: FontAwesome;
	background-image: none
}

.board_list thead th {
	font-family: FontAwesome;
	border-bottom: 1px solid #ccc;
	padding: 12px 0 13px 0;
	color: #3b3a3a;
	vertical-align: middle;
	text-align: center;
}

.board_list tbody td {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-top: 1px solid #ccc;
	padding: 10px 0;
	text-align: center;
	vertical-align: middle
}

.board_list tbody tr:first-child td {
	font-family: FontAwesome;
	border: none
}

.board_list tbody td.title {
	font-family: FontAwesome;
	text-align: left;
	padding-left: 20px
}

.board_list tbody td a {
	font-family: FontAwesome;
	display: inline-block
}

.board_list2 {
	width: 80%;
	table-layout: fixed;
	border: 1px solid #f2f2f2 !important;
	line-height: 180%;
}

.board_list2 tbody th {
	width: 110px;
	padding: 10px 0 8px 20px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	font-family: 'Lato', 'Nanum Gothic';
	font-size: 12px;
	text-transform: uppercase;
	background-color: #fff;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

.board_list2 tbody th.list_tit {
	font-family: FontAwesome;
	font-size: 13px;
	color: #656565;
	letter-spacing: 0.1px
}

.board_list2 tbody .no_line_b th, .board_view tbody .no_line_b td {
	font-family: FontAwesome;
	border-bottom: none
}

.board_list2 tbody th, .board_view tbody td {
	width: 110px;
	padding: 10px 0 8px 20px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	font-family: 'Lato', 'Nanum Gothic';
	font-size: 10px;
	text-transform: uppercase;
	background-color: #fff;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

.board_list2 tbody td.view_text {
	font-family: FontAwesome;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 45px 18px 45px 18px
}

.board_list2 tbody td {
	padding: 10px 0 8px 10px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	font-family: 'Lato', 'Nanum Gothic';
	font-size: 14px;
	text-transform: uppercase;
	background-color: #fff;
	text-align: left;
	font-weight: bold;
	vertical-align: middle;
}

.board_list2 tbody th.th_file {
	font-family: FontAwesome;
	padding: 0 0 0 15px;
	vertical-align: middle
}

.board_list2 tbody tr.board_subject2 {
	border: 5px solid #e8e8e8;
}

.board_subject {
	overflow: hidden;
	margin: 0 0 20px;
	padding: 15px 20px;
	border: 5px solid #e8e8e8;
}

.board_title2 td {
	width: 100%;
}

.board_qa {
	width: 300px;
	font-family: FontAwesome;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee
}

.board_qa tbody th {
	font-family: FontAwesome;
	text-align: left;
	background: #ffffff;
	color: #3b3a3a;
	border-left: 1px solid #eeeeee;
}

.board_qa tbody th.list_tit {
	font-family: FontAwesome;
	font-size: 13px;
	color: #656565;
	letter-spacing: 0.1px
}

.board_qa tbody .no_line_b th, .board_view tbody .no_line_b td {
	font-family: FontAwesome;
	border-bottom: none
}

.board_qa tbody th, .board_view tbody td {
	width: 80%;
	font-family: FontAwesome;
	padding: 15px 0 16px 16px;
	border-bottom: 1px solid #eeeeee
}

.board_qa tbody td.view_text {
	font-family: FontAwesome;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 45px 18px 45px 18px
}

.board_qa tbody td {
	font-family: FontAwesome;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.board_qa tbody th.th_file {
	font-family: FontAwesome;
	padding: 0 0 0 15px;
	vertical-align: middle
}

.board_view {
	width: 100%;
	font-family: FontAwesome;
	border-top: 2px solid #ffffff;
	border-bottom: 1px solid #eeeeee
}

.board_view tbody th {
	font-family: FontAwesome;
	text-align: left;
	background: #ffffff;
	color: #3b3a3a
}

.board_view tbody th.list_tit {
	font-family: FontAwesome;
	font-size: 13px;
	color: #656565;
	letter-spacing: 0.1px
}

.board_view tbody .no_line_b th, .board_view tbody .no_line_b td {
	font-family: FontAwesome;
	border-bottom: none
}

.board_view tbody th, .board_view tbody td {
	font-family: FontAwesome;
	padding: 15px 0 16px 16px;
	border-bottom: 1px solid #ccc
}

.board_view tbody td.view_text {
	font-family: FontAwesome;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ffffff;
	padding: 45px 18px 45px 18px
}

.board_view tbody th.th_file {
	font-family: FontAwesome;
	padding: 0 0 0 15px;
	vertical-align: middle
}

.board_view2 {
	width: 100%;
	font-family: FontAwesome;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee
}

.board_view2 tbody th {
	font-family: FontAwesome;
	text-align: left;
	background: #ffffff;
	color: #3b3a3a;
	border-left: 1px solid #eeeeee;
}

.board_view2 tbody th.list_tit {
	font-family: FontAwesome;
	font-size: 13px;
	color: #656565;
	letter-spacing: 0.1px
}

.board_view2 tbody .no_line_b th, .board_view tbody .no_line_b td {
	font-family: FontAwesome;
	border-bottom: none
}

.board_view2 tbody th, .board_view tbody td {
	font-family: FontAwesome;
	padding: 15px 0 16px 16px;
	border-bottom: 1px solid #eeeeee
}

.board_view2 tbody td.view_text {
	font-family: FontAwesome;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 45px 18px 45px 18px
}

.board_view2 tbody td {
	font-family: FontAwesome;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.board_view2 tbody th.th_file {
	font-family: FontAwesome;
	padding: 0 0 0 15px;
	vertical-align: middle
}

.board_view4 {
	table-layout: fixed;
	/* border: 1px solid #f2f2f2 !important; */
	line-height: 180%;
}

.board_view4 p {
	width: 500%;
	padding: 10px 0 8px 20px;
	border-right: 1px solid #eee;
	font-family: 'Lato', 'Nanum Gothic';
	font-size: 12px;
	text-transform: uppercase;
	background-color: #fff;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

.board_view5 {
	width: 70%;
	table-layout: fixed;
	border: 1px solid #f2f2f2 !important;
	line-height: 180%;
}

.board_view5 tbody th {
	width: 110px;
	padding: 10px 0 8px 20px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	font-family: 'Lato', 'Nanum Gothic';
	font-size: 12px;
	text-transform: uppercase;
	background-color: #fff;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

.board_view5 tbody th.list_tit {
	font-family: FontAwesome;
	font-size: 13px;
	color: #656565;
	letter-spacing: 0.1px
}

.board_view5 tbody .no_line_b th, .board_view tbody .no_line_b td {
	font-family: FontAwesome;
	border-bottom: none
}

.board_view5 tbody th, .board_view tbody td {
	font-family: FontAwesome;
	padding: 15px 0 16px 16px;
	border-bottom: 1px solid #eeeeee
}

.board_view5 tbody td.view_text {
	font-family: FontAwesome;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 45px 18px 45px 18px
}

.board_view5 tbody td {
	width: 50%;
	padding: 15px 0 8px 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.board_view5 tbody th.th_file {
	font-family: FontAwesome;
	padding: 0 0 0 15px;
	vertical-align: middle
}

.board_view6 {
	width: 100%;
	font-family: FontAwesome;
	/* 	border-top: 2px solid #ffffff; */
	/* 	border-bottom: 1px solid #eeeeee; */
	background: none;
}

.board_view6 tbody th {
	font-family: FontAwesome;
	text-align: left;
	background: #ffffff;
	color: #3b3a3a
}

.board_view6 tbody th.list_tit {
	font-family: FontAwesome;
	font-size: 13px;
	color: #656565;
	letter-spacing: 0.1px
}

.board_view6 tbody .no_line_b th, .board_view tbody .no_line_b td {
	font-family: FontAwesome;
	border-bottom: none
}

.board_view6 tbody th, .board_view tbody td {
	font-family: FontAwesome;
	padding: 15px 0 16px 16px;
	border-bottom: 1px solid #ccc
}

.board_view6 tbody td.view_text {
	font-family: FontAwesome;
	/* 	border-top: 1px solid #ccc; */
	/* 	border-bottom: 1px solid #ffffff; */
	padding: 45px 18px 45px 18px
}

.board_view6 tbody th.th_file {
	margin: 0;
	padding: 0;
	display: inline-block;
	clear: both;
	overflow: hidden;
	background: none;
}

.board_notice {
	width: 100%;
	font-family: FontAwesome;
	border-bottom: 1px solid #eeeeee;
}

.board_notice tbody th {
	font-family: FontAwesome;
	text-align: left;
	background: #ffffff;
	color: #3b3a3a;
	border-right: 1px solid #ffffff;
}

.board_notice tbody th.list_tit {
	font-family: FontAwesome;
	font-size: 13px;
	color: #656565;
	letter-spacing: 0.1px
}

.board_notice tbody .no_line_b th, .board_view tbody .no_line_b td {
	font-family: FontAwesome;
	border-bottom: none
}

.board_notice tbody th, .board_view tbody td {
	font-family: FontAwesome;
	padding: 15px 0 16px 16px;
	border-bottom: 1px solid #eeeeee
}

.board_notice tbody td.view_text {
	font-family: FontAwesome;
	padding: 45px 18px 45px 18px
}

.board_notice tbody td {
	font-family: FontAwesome;
	border-top: 1px solid #eee;
	border-right: 1px solid #ffffff;
}

.board_notice tbody th.th_file {
	font-family: FontAwesome;
	padding: 0 0 0 15px;
	vertical-align: middle
}

.board_notice tr:first-child td {
	border-top: 1px solid #fff;
}

.board_faq {
	width: 100%;
	font-family: FontAwesome;
	border-top: 2px solid #eeeeee;
	border-bottom: 1px solid #eeeeee
}

.board_faq thead th {
	font-family: FontAwesome;
	border-bottom: 1px solid #ccc;
	padding: 10px 0 13px 0;
	color: #3b3a3a;
	vertical-align: middle
}

.board_faq tbody td {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-top: 1px solid #ccc;
	padding: 10px 0;
	text-align: center;
	vertical-align: middle
}

.board_faq tbody td.title {
	font-family: FontAwesome;
	text-align: left;
	padding-left: 20px
}

.board_faq tbody td a {
	font-family: FontAwesome;
	display: inline-block
}

.board_qa {
	width: 100%;
	font-family: FontAwesome;
	border-top: 2px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.board_qa thead th {
	font-family: FontAwesome;
	border-bottom: 1px solid #ccc;
	padding: 10px 0 13px 0;
	color: #3b3a3a;
	vertical-align: middle
}

.board_qa tbody td {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-top: 1px solid #ccc;
	padding: 10px 0;
	text-align: center;
	vertical-align: middle
}

.board_qa tbody td.title {
	font-family: FontAwesome;
	text-align: center;
	padding-left: 20px
}

.board_qa tbody td a {
	font-family: FontAwesome;
	display: inline-block
}

.board_review {
	width: 100%;
	font-family: FontAwesome;
	border-top: 2px solid #eeeeee;
	border-bottom: 1px solid #eeeeee
}

.board_review thead th {
	font-family: FontAwesome;
	border-bottom: 1px solid #ccc;
	padding: 10px 0 13px 0;
	color: #3b3a3a;
	vertical-align: middle
}

.board_review tbody td {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-top: 1px solid #ccc;
	padding: 10px 0;
	text-align: center;
	vertical-align: middle
}

.board_review tbody td.title {
	font-family: FontAwesome;
	text-align: center;
	padding-left: 20px
}

.board_review tbody td a {
	font-family: FontAwesome;
	display: inline-block
}

.board_review1 {
	width: 100%;
	font-family: FontAwesome;
	valign: middle;
	border-top: 2px solid #ffffff;
	border-bottom: 1px solid #eeeeee
}

.board_review1 th {
	font-family: FontAwesome;
	border-bottom: 1px solid #eeeeee;
	padding: 10px 0 13px 0;
	color: #3b3a3a;
	vertical-align: middle
}

.board_review1 td {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-top: 1px solid #ccc;
	padding: 10px 0;
	text-align: center;
	vertical-align: middle
}

.board_review1 td.title {
	font-family: FontAwesome;
	text-align: center;
	padding-left: 20px
}

.board_review1 td a {
	font-family: FontAwesome;
	display: inline-block
}

.board_review2 {
	font-family: FontAwesome;
	border: 0px solid #d7d5d5;
	border-top: 2px solid #ffffff;
	border-right: none;
	border-left: none;
	color: #353535;
	font-size: 12px;
	line-height: 140%;
	valign: middle;
	border-top: 2px solid #ffffff;
	border-bottom: 1px solid #eeeeee
}

.board_review2 th {
	padding: 6px 0 6px;
	border-right: 0px solid #e3e3e3;
	background: #fff;
	font-weight: normal;
	font-size: 10px;
	letter-spacing: 1px;
	font-family: 'Lato', 'Nanum Gothic';
	text-transform: uppercase;
}

.board_review2 td {
	padding: 6px 3px 5px;
	border-top: 1px solid #ededed;
	border-right: 0px solid #e3e3e3;
	text-align: center;
	vertical-align: middle;
	font-family: 'Lato', 'Nanum Gothic';
}

.board_review2 td.title {
	font-family: FontAwesome;
	text-align: center;
	padding-left: 20px
}

.board_review2 td a {
	font-family: FontAwesome;
	display: inline-block
}

.board_review2 .subject {
	padding-left: 8px;
	color: #8f98f2;
	text-align: left;
	word-break: break-all;
}

.board_review3 {
	width: 100%;
	font-family: FontAwesome;
	valign: middle;
	border-top: 2px solid #ffffff;
	border-bottom: 1px solid #eeeeee
}

.board_review3 th {
	padding: 6px 0 6px;
	border-right: 0px solid #e3e3e3;
	font-weight: normal;
	font-size: 10px;
	letter-spacing: 1px;
	font-family: 'Lato', 'Nanum Gothic';
	text-transform: uppercase;
}

.board_review3 td {
	font-family: 'Lato';
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-top: 1px solid #ccc;
	padding: 10px 0;
	/* text-align: left; */
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
}

.board_review3 td.subject {
	font-family: 'Lato';
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 10px 0;
    /* text-align: left; */
    vertical-align: middle;
    text-align: left;
	padding-left: 80px;
}

.board_review3 td a {
	font-family: FontAwesome;
	display: inline-block
}

/* .board_review3 table .subject {
	word-break: break-all;
	font-size: 12px;
	text-align: left;
	padding-left: 8px;
} */

.board_review3 tbody td div {
	margin-bottom: 5px;
	color: #aaa;
	font-size: 11px;
	.
	xans-board-listpackage;
}

.board_review4 {
	width: 100%;
	font-family: FontAwesome;
	valign: middle;
	border-top: 2px solid #ffffff;
	border-bottom: 1px solid #eeeeee
}

.board_review4 th {
	padding: 6px 0 6px;
	border-right: 0px solid #e3e3e3;
	font-weight: normal;
	font-size: 10px;
	letter-spacing: 1px;
	font-family: 'Lato', 'Nanum Gothic';
	text-transform: uppercase;
}

.board_review4 td {
	font-family: 'Lato';
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-top: 1px solid #ccc;
	padding: 10px 0;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
}

.board_review4 td.title {
	font-family: FontAwesome;
	text-align: center;
	/* padding-left: 20px */
}

.board_review4 td a {
	font-family: FontAwesome;
	display: inline-block
}

.board_review4 table .subject {
	word-break: break-all;
	font-size: 12px;
	text-align: left;
	padding-left: 8px;
}

.board_review4 tbody td div {
	margin-bottom: 5px;
	color: #aaa;
	font-size: 11px;
	.
	xans-board-listpackage;
}

.board_img {
	
}

.board_img td {
	padding: 10px 0 8px 10px;
	text-transform: uppercase;
	background-color: #fff;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
	border-top: 4px solid #eee;
	border-bottom: 4px solid #eee;
	border-right: 4px solid #eeeeee;
	border-left: 4px solid #eee;
	font-size: 14px;
}

.board_title {
	
}

.board_title #TITLE {
	height: 25px;
	padding: 3px;
	width: 200px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eeeeee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-size: 12px;
}

.board_title td {
	padding: 10px 0 8px 10px;
	text-transform: uppercase;
	background-color: #fff;
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
	border-right: 1px solid #eeeeee;
	font-size: 12px;
}

.board_title th {
	font-size: 12px;
	width: 110px;
	padding: 10px 0 8px 20px;
	border-right: 1px solid #eeeeee;
}

.board_content {
	width: 70%;
}

.board_content td {
	font-family: FontAwesome;
	/* padding: 0 0 0 400px; */
	vertical-align: middle;
	font-size: 14px;
	text-align: center;
}

.board_content2 {
	width: 100%;
}

.board_content2 td {
	font-family: FontAwesome;
}

.notice_button td {
	padding: 0px 0 0 5px;
	vertical-align: middle;
}

.notice_button2 {
	background: none;
}

.notice_button2 td {
	padding: 0px 0 0 690px;
	vertical-align: middle;
}

.wdp_90 {
	width: 100%
}

.wdp_20 {
	width: 30%;
	height: 20;
}

.wdp_25 {
	width: 18%;
	height: 20;
}

.wdp_30 {
	width: 15%;
	height: 25;
}

.btn {
	width: 80px;
	font-weight: bold;
	letter-spacing: 0.05em;
	font-family: 'Lato';
	border: 1px solid #ccc;
	padding: 5px 12px;
	text-transform: uppercase;
	font-size: 9px;
	line-height: 20px;
	letter-spacing: 1px;
	background: white;
}

}
.btn2 {
	padding: 7px 70px;
	margin: 0 5px;
	font-size: 12px;
	color: #fff;
	background: #111;
	line-height: 30px;
	border: 1px solid #333;
}

.btn3 {
	padding: 7px 70px;
	margin: 0 5px;
	border: 1px solid #333;
	text-decoration: none;
}

.btn4 {
	position: fixed;
	right: -1px;
	bottom: 30%;
	clear: both;
	height: 40px;
	border: 1px #eee solid;
	border-right: 0px #eee solid;
	z-index: 99;
	text-align: center;
	display: inline-block;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 13px;
	background-color: rgba(255, 255, 255, 0.1);
	-ms-filter: alpha(opacity = 0.5);
}

.btn5 {
	position: fixed;
	right: -1px;
	bottom: 26%;
	clear: both;
	height: 40px;
	border: 1px #eee solid;
	border-right: 0px #eee solid;
	z-index: 99;
	text-align: center;
	display: inline-block;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 13px;
	background-color: rgba(255, 255, 255, 0.1);
	-ms-filter: alpha(opacity = 0.5);
}

.btn6 {
	width: 80px;
	font-weight: bold;
	letter-spacing: 0.05em;
	font-family: 'Lato';
	border: 1px solid #ccc;
	padding: 5px 12px;
	text-transform: uppercase;
	font-size: 9px;
	line-height: 20px;
	letter-spacing: 1px;
	background: white;
}

.btn7 {
	width: 80px;
	font-weight: bold;
	letter-spacing: 0.05em;
	font-family: 'Lato';
	border: 1px solid #ccc;
	padding: 5px 12px;
	text-transform: uppercase;
	font-size: 9px;
	line-height: 20px;
	letter-spacing: 1px;
	background: white;
}

.btn8 {
	font-weight: bold;
	font-family: 'Lato', 'Nanum Gothic';
	border: 1px solid #ccc;
	padding: 0px 1px;
	text-transform: uppercase;
	font-size: 9px;
	line-height: 20px;
	letter-spacing: 1px;
	background: white;
}

.board_list2.board_subject2 img {
	margin-right: 5px;
	font-size: 11px;
	font-family: Arial, Verdana, NanumBarunGothic;
	color: #333;
	line-height: 30px;
	border: 0px solid #ccc;
	background: white;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	width: 90px;
	height: 130px;
	margin: 0 0 60 20px;
	height: 130px;
}

.board_list2.board_subject img {
	width: 90px;
	height: 130px;
	border: 1px solid #d5d5d5;
}

.board_subject3 {
	
}

.board_subject4 {
	margin: 0 20 0 0px;
}

.mySlides {
	display: none;
}

.w3-animate-opacit {
	animation: opac 0.9s
}

@
keyframes opac {
	from {opacity: 0.5
}

to {
	opacity: 1
}

}
.w3-left, .w3-right, .w3-badge {
	cursor: pointer
}

.w3-badge {
	height: 13px;
	width: 13px;
	padding: 0
}

.w3-animate-righ {
	position: relative;
	animation: animateright 0.5s
}

@
keyframes animateright {
	from {right: -500px;
	opacity: 1
}

to {
	right: 0;
	opacity: 1
}

}
#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImg:hover {
	opacity: 0.7;
}

#myimg2:hover {
	opacity: 1;
}

.abc {
	font-size: 24px;
	color: #000000;
}