@CHARSET "UTF-8";

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfontba72.html?v=4.0.3');
  src: url('fontawesome-webfontd41d.html?#iefix&v=4.0.3') format('embedded-opentype'), url('fontawesome-webfontba72-2.html?v=4.0.3') format('woff'), url('fontawesome-webfontba72-3.html?v=4.0.3') format('truetype'), url('fontawesome-webfontba72-4.html?v=4.0.3#fontawesomeregular') format('svg');
/*   src: url('/main/webapp/web-inf/tiles/layout.jsp) format('embedded-opentype'); */
  font-weight: normal;
  font-style: normal;
}

/*  @ word-wrap {
	p {
width: 50px;
  height: 22px;
  display: inline-block;
  border: 1px solid #b4b4b4;
  word-wrap: normal;
  }
} */

a:link, a:visited {text-decoration: none; color: #656565;}

.board_top td {font-family: FontAwesome;color: #b4b4b4;}
.board_no td {font-family: FontAwesome;color: #787878;}
.board_list {width:100%;font-family: FontAwesome;border-top:2px solid #eeeeee;border-bottom:1px solid #eeeeee}
.board_list thead th:first-child{font-family: FontAwesome; background-image:none}
.board_list thead th {font-family: FontAwesome; border-bottom:1px solid #ccc;padding:12px 0 13px 0;color:#3b3a3a;vertical-align:middle}
.board_list tbody td {font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; border-top:1px solid #ccc;padding:10px 0;text-align:center;vertical-align:middle}
.board_list tbody tr:first-child td {font-family: FontAwesome; border:none}
.board_list tbody td.title {font-family: FontAwesome; text-align:left; padding-left:20px}
.board_list tbody td a {font-family: FontAwesome; display:inline-block}

.board_view {width:100%;font-family: FontAwesome;border-top:2px solid #ffffff;border-bottom:1px solid #eeeeee}
.board_view tbody th {font-family: FontAwesome;text-align:left;background:#ffffff;color:#3b3a3a}
.board_view tbody th.list_tit {font-family: FontAwesome;font-size:13px;color:#656565;letter-spacing:0.1px}
.board_view tbody .no_line_b th, .board_view tbody .no_line_b td {font-family: FontAwesome;border-bottom:none}
.board_view tbody th, .board_view tbody td {font-family: FontAwesome; padding:15px 0 16px 16px;border-bottom:1px solid #ccc}
.board_view tbody td.view_text {font-family: FontAwesome;border-top:1px solid #ccc; border-bottom:1px solid #ffffff;padding:45px 18px 45px 18px}
.board_view tbody th.th_file {font-family: FontAwesome;padding:0 0 0 15px; vertical-align:middle}

.board_content td {font-family: FontAwesome;padding:0 0 0 15px; vertical-align:middle}

.wdp_80 {width:100%;}
.wdp_90 {width:100%}
.btn {border-radius:3px;padding:5px 11px;color:#000000 !important; display:inline-block; background-color:#f7f7f7; border:1px solid #c8c8c8;vertical-align:middle}